.news {
    padding-top: 0;
}

.news-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 30px;
    margin-top: 40px;
}

.news-item {
    height: 100%;
}

.news-item .card {
    border: 0;
    height: 100%;
    justify-content: space-between;
}

.news-item .card-img {
    height: 236px;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.news-item .card-body {
    padding: 22px 0 0;
}

.news-item .card-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--button-color);
    margin-bottom: 20px;
}

.news-item .card-top .date {
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    color: #5d5d5d;
}

.news-item .card-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    color: #5d5d5d;
    margin-top: 10px;
    display: block;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.news-item .card-top .title {
    font-size: 16px;
}

.news-item .card-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: #5d5d5d;
    margin-bottom: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    transition: all 0.3s linear;
}

.news-item .card-title:hover {
    color: var(--blue-color);
}

.news-item .card-img-top {
    height: 100%;
    object-fit: cover;
    width: 100%;
    transition: .3s linear all;
}

.news-item:hover .card-img-top {
    transform: scale(1.08);
    transition: .3s linear all;
}

.news-item .card-top .title {
    font-size: 16px;
    padding-right: 40px;
    font-weight: 600;
    line-height: 28px;
    color: var(--blue-color);
    margin-bottom: 0;
}

.news-item .button {
    margin-top: 25px;
}

/*
* NEWS DETAIL
*/

.news-detail {
    font-size: var(--fs-p);
    line-height: var(--lh-p);
}

.news-detail .content {
    padding: 80px 60px 60px;
}

.news-detail .type {
    font-size: 20px;
    color: var(--button-color);
    font-weight: 500;
    line-height: 30px;
}

.news-detail .title {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.4;
    color: var(--blue-color);
    margin: 10px 0;
}

.news-detail .date {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: var(--blue-color);
}

.news-detail img {
    width: 100%;
    height: auto;
    margin-bottom: 8px;
}

.news-detail .detail {
    padding-block: 40px;
    margin-top: 40px;
    border-block: 2px solid var(--blue-color);
}

.list-news {
    padding-top: 80px;
}

.list-news .pagination-custom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.list-news .pagination-custom ul {
    gap: 12px;
}

.list-news .pagination-custom ul li {
    background-color: var(--white-color);
    cursor: pointer;
    border: 1px solid transparent;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transition: all 0.3s linear;
}

.list-news .pagination-custom ul li:hover {
    border: 1px solid var(--button-color);
}

.list-news .pagination-custom ul li a {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #C8CCD1;
    transition: all 0.3s linear;
}

.list-news .pagination-custom ul li:hover a {
    color: var(--button-color);
    font-weight: 500;
}

.list-news .pagination-custom ul li a svg {
    filter: invert(67%) sepia(4%) saturate(3063%) hue-rotate(315deg) brightness(89%) contrast(75%);
}

.list-news .pagination-custom ul li.next,
.list-news .pagination-custom ul li.previous {
    border: 1px solid var(--button-color);
}

.list-news .pagination-custom ul li.next {
    margin-left: 12px;
}

.list-news .pagination-custom ul li.previous {
    margin-right: 12px;
}

/*
* About
*/

.about .section-title,
.map .section-title,
.table-list .section-title {
    margin-bottom: 40px;
}

.about .banner img {
    width: 100%;
    height: auto;
}

.about .content {
    font-size: var(--fs-h-4);
    line-height: var(--lh-h-3);
}

.about .section-title {
    text-align: start;
    margin-bottom: 20px;
}

.about .banner {
    border-radius: 24px;
    overflow: hidden;
}

/*
* MEMOS
*/

.memos .memos-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-top: 40px;
    max-height: 500px;
    overflow: auto;
    padding-right: 12px;
}

.memos .memos-list::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
.memos .memos-list::-webkit-scrollbar-track {
    background: #e1e1e1;
}

/* Handle */
.memos .memos-list::-webkit-scrollbar-thumb {
    background: var(--button-color);
}

.memos .memos-item {
    display: flex;
    gap: 30px;
    border-radius: 8px;
    border: 1px solid #E4E5E8;
    padding: 24px 32px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s linear;
}

.memos .memos-item:hover {
    /* box-shadow: 0px 8px 16px 0px rgba(0, 62, 68, 0.10); */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid #E4E5E8;
}

.memos .memos-item .group-img,
.table-list .group-img {
    color: #b78400;
    font-size: var(--fs-h-4);
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.memos .memos-item .group-img img,
.table-list .table .group-img img {
    width: 60px;
    height: auto;
}

.memos .memos-item .infor {
    font-size: var(--fs-h-5);
    line-height: var(--lh-h-5);
    font-weight: 500;
}

.memos .memos-item .infor ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.memos .memos-item .infor ul li strong {
    margin-right: 4px;
}

.memos .memos-seemore {
    background: #b78400;
    position: absolute;
    top: 0;
    right: 0;
    width: 11%;
    height: 46%;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    display: flex;
    justify-content: end;
    align-items: start;
    padding: 4px;
    border-top-right-radius: 8px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;
}

.memos .memos-item:hover .memos-seemore {
    opacity: 1;
    visibility: visible;
}

.memos .memos-seemore img {
    width: 32px;
    height: auto;
}

.popup-memos {
    max-width: fit-content;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #fff;
    overflow: hidden;
    border-radius: 20px;
    padding: 24px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s linear;
}

.popup-memos.active {
    opacity: 1;
    visibility: visible;
}

.popup-memos .group-img img {
    width: 100px;
}

.popup-memos .name {
    font-size: 32px;
    line-height: 42px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    color: #b78400;
}

.popup-memos .popup-memos-item ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 20px;
    text-align: start;
}

.popup-memos .popup-memos-item ul li {
    font-size: 18px;
    line-height: 24px;
}

.popup-memos .popup-memos-item ul li span {
    font-weight: 600;
}

.popup-memos-group {
    display: flex;
    gap: 30px;
}

.popup-memos-item {
    padding: 36px;
}

.popup-memos-item,
.popup-memos-imgs {
    width: 450px;
}

.popup-memos-imgs {
    height: 90%;
}

.popup-memos-imgs .photo {
    width: 100%;
    height: 390px;
    position: relative;
}

.popup-memos-imgs .photo::after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    /* background-color: rgba(0, 0, 0, 0.6); */
}

.popup-memos-imgs .photo img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.popup-memos-imgs .slick-list.draggable,
.popup-memos-imgs .slick-slide,
.popup-memos-imgs .slick-track,
.popup-memos-imgs .slick-slide>div {
    height: 100%;
}

.popup-memos-imgs .slick-dots li button:before {
    font-size: 12px;
}

.popup-memos .btn-prev,
.popup-memos .btn-next {
    border: 1px solid var(--button-color);
    width: fit-content;
    border-radius: 100%;
    padding: 6px;
    position: absolute;
    bottom: 10px;
    left: 20px;
    cursor: pointer;
}

.popup-memos .btn-next {
    right: 20px;
    left: unset;
}

.popup-memos .slick-dots li.slick-active button:before {
    color: var(--blue-color);
}

.popup-memos .slick-dots li button:before {
    color: var(--button-color);
    opacity: 1;
}

.popup-memos .close {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 99;
    cursor: pointer;
}

.popup-memos .seemore-group {
    margin-top: 20px;
}

.popup-success {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #fff;
    overflow: hidden;
    border-radius: 20px;
    padding: 48px 24px;
    width: 40vw;
    opacity: 0;
    visibility: hidden;
    transition: all .3s linear;
}

.popup-success.active {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s linear;
}

.popup-success .button-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.popup-success .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.popup-success .content .title {
    font-size: 28px;
    font-weight: 500;
    color: var(--blue-color);
}

.popup-success .icon img {
    width: 200px;
    height: auto;
}

/*
* table list
*/

.table-responsive {
    height: 500px;
    padding-right: 8px;
}

.table-responsive::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
.table-responsive::-webkit-scrollbar-track {
    background: var(--white-color);
}

/* Handle */
.table-responsive::-webkit-scrollbar-thumb {
    background: var(--button-color);
}

.table-list .table {
    font-size: 16px;
    line-height: 20px;
}

.table-list .table th,
.table-list .table td {
    padding: 12px;
}

.table-list .table td {
    font-weight: 500;
}

.table-list .table td:last-child {
    padding: 6px;
    text-align: center;
}

.table-list .table thead th {
    background-color: var(--button-color);
    color: var(--white-color);
}

.table-list .table thead th:first-child {
    width: 20px;
}

.table-list .table th:first-child {
    text-align: center;
    font-weight: 500;
}

/* .table-list .table {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    overflow: hidden;
} */

.table-list .button {
    width: 40px;
    height: 30px;
    padding: 0;
    margin: auto;
}


.table-list .button svg {
    width: 20px;
    height: auto;
}

.filter-container {
    margin: 40px 0;
}

.filter-container .filter-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-color);
    border: 1px solid var(--button-color);
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    display: none;
    margin-bottom: 12px;
    transition: all 0.3s linear;
}

.filter-container .filter-toggle.active {
    background-color: var(--button-color);
    border: 1px solid var(--button-color);
}

.filter-container .filter-toggle .text {
    color: var(--button-color);
    font-weight: 500;
    transition: all 0.3s linear;
}

.filter-container .filter-toggle.active .text {
    color: var(--white-color);
}

.filter-container .filter-toggle.active .icon img {
    filter: brightness(0) invert(1);
}

@media screen and (max-width: 1200px) {
    .news-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 36px 24px;
    }

    .popup-success {
        width: 65vw;
    }

    /**
    * ABOUT
    */

    .about .content {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 991px) {
    .popup-memos-group {
        flex-direction: column;
        gap: 0;
    }

    .memos .memos-list {
        grid-template-columns: repeat(1, 1fr);
        max-height: 640px;
    }

    .group-filter {
        margin-top: 20px;
        justify-content: center;
    }

    .popup-memos-item, .popup-memos-imgs {
        width: 80vw;
        padding-inline: 0px;
    }

    .popup-memos .btn-prev, .popup-memos .btn-next {
        bottom: -10px;
    }

    .popup-memos-imgs .photo {
        margin-bottom: 10px;
    }

    .popup-memos .popup-memos-item ul {
        gap: 8px;
    }

    .popup-memos .popup-memos-item ul li {
        font-size: 16px;
        line-height: 24px;
    }

    .popup-memos {
        padding-bottom: 36px;
    }

    .popup-success {
        width: 65vw;
    }

    /**
    * NEWS
    */

    .news-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .list-news {
        padding-top: 60px;
    }

    .news-detail .content {
        padding: 60px 0px 60px;
    }

    /**
    * TABLE LIST
    */

    .table-list .table thead th,
    .table-list .table td {
        white-space: nowrap;
    }

    .table-list .table thead th:nth-child(4) {
        white-space: inherit;
        min-width: 200px;
        max-width: 200px;
    }

    .filter-container input,
    .filter-container select {
        height: 42px;
    }

    .filter-container {
        margin: 40px 0 20px;
    }

    .filter-container .filter-toggle {
        display: flex;
    }

    .filter-container .filter-wrap {
        display: none;
    }

    /**
    * MEMOS
    */

    .memos .memos-seemore {
        padding: 3px;
        width: 9%;
    }

    .popup-memos-imgs .photo {
        height: 350px;
    }

}

@media screen and (max-width: 768px) {

    /**
    * ABOUT
    */

    .about .section-title, .map .section-title, .table-list .section-title {
        margin-bottom: 24px;
    }

    .popup-memos-imgs .photo {
        height: 200px;
    }
    
}

@media screen and (max-width: 576px) {
    .popup-memos-item {
        padding: 24px 0;
        padding-top: 0;
    }

    .memos .memos-list {
        margin-top: 24px;
        padding-right: 12px;
    }

    .popup-memos .name {
        font-size: 24px;
        line-height: 34px;
    }

    .popup-memos .seemore-group {
        margin-top: 12px;
    }

    .popup-success {
        width: 90vw;
    }

    .popup-success .content .title {
        font-size: 18px;
    }

    .popup-success .icon img {
        width: 150px;
    }

    /*
    * NEWS
    **/

    .news-list {
        grid-template-columns: repeat(1, 1fr);
        gap: 40px 30px;
        margin-top: 24px;
    }

    .news-item .card-body {
        padding: 12px 0 0;
    }

    .news-item .card-top {
        padding-bottom: 6px;
        margin-bottom: 12px;
    }

    .news-item .button {
        margin-top: 12px;
    }

    .news-detail .title {
        font-size: 24px;
    }

    /**
    * MEMOS
    */

    .memos .memos-item {
        padding: 12px;
        gap: 20px;
    }

    .memos .memos-seemore {
        padding: 2px;
        width: 13%;
        height: 36%;
    }

    .popup-memos .popup-memos-item ul {
        gap: 2px;
    }

    .memos .memos-seemore img {
        width: 24px;
    }

    /**
    * PAGINATION
    */

    .list-news .pagination-custom ul li {
        width: 32px;
        height: 32px;
    }

    .list-news .pagination-custom ul {
        gap: 6px;
    }

    .list-news .pagination-custom ul li.next {
        margin-left: 6px;
    }

    .list-news .pagination-custom ul li.previous {
        margin-right: 6px;
    }

    .list-news .pagination-custom ul li a {
        line-height: 1;
    }
}