@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


:root {
    --white-color: #fff;
    --black-color: #313131;
    --red-color: #c5161d;
    --blue-color: #a01c10;
    --button-color: #bd8986;
    --fs-h-1: 54px;
    --lh-h-1: 64px;
    --fs-h-2: 32px;
    --lh-h-2: 40px;
    --fs-h-3: 24px;
    --lh-h-3: 30px;
    --fs-h-4: 18px;
    --lh-h-4: 20px;
    --fs-h-5: 16px;
    --lh-h-5: 20px;
    --fs-p: 16px;
    --lh-p: 24px;
    --fw-bold: 700;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #222222;
    background-color: var(--white-color);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

h3,
h2,
h1 {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
    font-weight: 700;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 24px;
    border-radius: 8px;
    height: 42px;
    cursor: pointer;
    width: fit-content;
}

.button .text {
    font-size: var(--fs-h-5);
    line-height: 1;
    font-weight: 500;
}

.button .icon img,
.button .icon img {
    height: 20px;
    width: auto;
    margin-right: 6px;
}

.button.primary {
    background-color: var(--button-color);
    color: var(--white-color);
    border: 2px solid var(--button-color);
    transition: all 0.3s linear;
}

.button.primary:hover {
    background-color: var(--blue-color);
    border: 2px solid var(--blue-color);
}

.button.secondary {
    background-color: var(--white-color);
    border: 2px solid var(--button-color);
    color: var(--button-color);
    transition: all 0.3s linear;
}

button.secondary:hover {
    background-color: var(--blue-color);
    border: 2px solid var(--blue-color);
    color: var(--white-color);
}

.popup-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: block;
    content: '';
    background: 0 0;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    z-index: 9;
    background-color: rgba(0, 0, 0, .1);
    opacity: 0;
    visibility: hidden;
    transition: all .3s linear;
}

.popup-blur.active {
    opacity: 1;
    visibility: visible;
}

.popup {
    max-width: 80%;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #fff;
    overflow: hidden;
    border-radius: 20px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s linear;
}

.popup.active {
    opacity: 1;
    visibility: visible;
}

.popup .popup-left {
    padding: 40px 20px 40px 60px;
}

.popup .popup-right {
    height: 100%;
    width: 100%;
}

.popup .popup-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popup .title {
    font-size: 28px;
    line-height: 1;
    font-weight: var(--fw-bold);
    color: var(--blue-color);
    margin-bottom: 30px;
}

.popup .form-label {
    font-weight: 500;
    color: var(--black-color);
    margin-bottom: 5px;
}

.popup .form-label span {
    color: red;
}

.popup .form-control,
.popup select {
    line-height: 1;
    height: 48px;
    color: #797979;
}

.popup .form-control::placeholder {
    color: #797979;
}

.popup .input-group-text {
    background-color: #fff;
}

.popup .form-control[readonly] {
    background-color: var(--white-color);
}

#imagePreviewContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

.image-preview,
#addImageBtn {
    position: relative;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#addImageBtn {
    border-style: dashed;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.remove-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-wrapper {
    position: relative;
}

.popup .form-control.is-valid,
.popup .was-validated .form-control:valid,
.was-validated .form-select:valid:not([multiple]):not([size]),
.was-validated .form-control:invalid {
    background-image: none;
}

.invalid-tooltip {
    background-color: var(--white-color);
    color: #dc3545;
    font-weight: 500;
    top: 17px;
    left: 15px;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
    margin: 0;
}

select option:first-child {
    color: #888;
    /* Màu chữ của mục mặc định */
    font-style: italic;
    /* Chữ nghiêng */
}

.section-title {
    font-size: var(--fs-h-2);
    line-height: var(--lh-h-2);
    text-align: center;
    color: var(--blue-color);
}