@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


:root {
    --white-color: #fff;
    --black-color: #313131;
    --red-color: #c5161d;
    --blue-color: #a01c10;
    --button-color: #bd8986;
    --fs-h-1: 54px;
    --lh-h-1: 64px;
    --fs-h-2: 32px;
    --lh-h-2: 40px;
    --fs-h-3: 24px;
    --lh-h-3: 30px;
    --fs-h-4: 18px;
    --lh-h-4: 20px;
    --fs-h-5: 16px;
    --lh-h-5: 20px;
    --fs-p: 16px;
    --lh-p: 24px;
    --fw-bold: 700;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #222222;
    background-color: var(--white-color);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

h3,
h2,
h1 {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
    font-weight: 700;
}

section {
    padding: 80px 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 24px;
    border-radius: 8px;
    height: 42px;
    cursor: pointer;
    width: fit-content;
}

.button .text {
    font-size: var(--fs-h-5);
    line-height: 1;
    font-weight: 500;
}

.button .icon img,
.button .icon img {
    height: 20px;
    width: auto;
    margin-right: 6px;
}

.button.primary {
    background-color: var(--button-color);
    color: var(--white-color);
    border: 2px solid var(--button-color);
    transition: all 0.3s linear;
}

.button.primary:hover {
    background-color: var(--blue-color);
    border: 2px solid var(--blue-color);
}

.button.secondary {
    background-color: var(--white-color);
    border: 2px solid var(--button-color);
    color: var(--button-color);
    transition: all 0.3s linear;
}

.button.secondary:hover {
    background-color: var(--blue-color);
    border: 2px solid var(--blue-color);
    color: var(--white-color);
}

.popup-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: block;
    content: '';
    background: 0 0;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    z-index: 9;
    background-color: rgba(0, 0, 0, .1);
    opacity: 0;
    visibility: hidden;
    transition: all .3s linear;
}

.popup-blur.active {
    opacity: 1;
    visibility: visible;
}

.popup {
    max-width: 80%;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #fff;
    overflow: hidden;
    border-radius: 20px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s linear;
}

.popup.active {
    opacity: 1;
    visibility: visible;
}

.popup .button-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 1);
    padding: 6px;
    cursor: pointer;
}

.popup .popup-left {
    padding: 40px 20px 40px 60px;
}

.popup .popup-right {
    height: 100%;
    width: 100%;
}

.popup .popup-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popup .title {
    font-size: 28px;
    line-height: 1;
    font-weight: var(--fw-bold);
    color: var(--blue-color);
    margin-bottom: 30px;
}

.popup label.error {
    position: absolute;
    top: 100%;
    left: 8px;
    color: red;
    font-size: 14px;
}

.form-label {
    font-weight: 500;
    color: var(--black-color);
    margin-bottom: 5px;
}

.form-label span {
    color: red;
}

.form-control,
select {
    line-height: 1;
    height: 48px;
    color: #797979;
}

.form-select {
    color: #797979;
}

.form-control:focus,
.form-select:focus {
    outline: none;
    box-shadow: none;
}

.popup .form-control::placeholder {
    color: #797979;
}

.popup .input-group-text {
    background-color: #fff;
}

.popup .form-control[readonly] {
    background-color: var(--white-color);
}

#imagePreviewContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
    max-height: 180px;
    overflow: auto;
}

.image-preview,
#addImageBtn {
    position: relative;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#addImageBtn {
    border-style: dashed;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.remove-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-wrapper {
    position: relative;
}

.popup .form-control.is-valid,
.popup .was-validated .form-control:valid,
.was-validated .form-select:valid:not([multiple]):not([size]),
.was-validated .form-control:invalid {
    background-image: none;
}

.invalid-tooltip {
    background-color: var(--white-color);
    color: #dc3545;
    font-weight: 500;
    top: 17px;
    left: 15px;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
    margin: 0;
}

select option:first-child {
    color: #888;
    /* Màu chữ của mục mặc định */
    font-style: italic;
    /* Chữ nghiêng */
}

.section-title {
    font-size: var(--fs-h-2);
    line-height: var(--lh-h-2);
    text-align: center;
    color: var(--blue-color);
}

.seemore-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.seemore-group .seemore {
    display: flex;
    align-items: center;
    gap: 5px;
}

.seemore-group .seemore .text {
    font-size: var(--fs-h-4);
    line-height: 1;
    font-weight: var(--fw-bold);
    color: var(--blue-color);
}

.seemore-group .seemore .icon {
    transition: all 0.3s linear;
}

.seemore-group .seemore:hover .icon {
    transform: translateX(5px);
}

.seemore-group .seemore .icon img {
    width: 25px;
    height: auto;
}

/* 
* Search
*/

.search-group {
    display: flex;
    justify-content: end;
}

.search-group .form-search {
    border-radius: 29px;
    background: #fff;
    width: 30vw;
}

.search-group .form-control {
    line-height: 1;
    height: 48px;
    border-radius: 8px !important;
}


.search-group .input-group {
    gap: 10px;
}

.search-group .button-search {
    background-color: var(--blue-color);
    border: none;
    border-radius: 8px !important;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
* Pagination
*/

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}

.pagination-container {
    display: flex;
    align-items: center;
    gap: 24px;
}

.pagination-container .pagi-btn, .pagination-container .pagi-page {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.pagi-group {
    display: flex;
    align-items: center;
    gap: 8px;
}

.pagination-container .pagi-page.active {
    background-color: var(--blue-color);
    border: 1px solid var(--blue-color);
    font-weight: 500;
    color: #fff;
}

.pagination-container .pagi-page {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #C8CCD1;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.3s linear;
}

.pagination-container .pagi-page:hover {
    border: 1px solid var(--button-color);
    color: var(--button-color);
    font-weight: 500;
    transition: all 0.3s linear;
}

.pagi-btn {
    cursor: pointer;
    border: 1px solid var(--button-color);
}

/*
* Map
*/

#map {
    height: 600px;
}

/*
* Pagination custom
*/

.group-pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    border-top: 1px solid var(--button-color);
    padding-block: 20px;
}

.group-pagination .wrap {
    display: flex;
    gap: 30px;
}

.pagination-custom ul {
    display: flex;
    gap: 6px;
}

.pagination-custom ul li a {
    font-size: var(--fs-h-5);
    line-height: 1;
    display: inline-block;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: var(--black-color);
}

.pagination-custom .page-item {
    background-color: #e1e1e1;
    border-radius: 4px;
    transition: all 0.3s linear;
}

.pagination-custom .page-item.active {
    background-color: var(--blue-color);
}

.pagination-custom .page-item.active a {
    color: var(--white-color);

}

.select-custom {
    height: 30px;
    padding: 0 8px;
    border-radius: 4px;
}

.group-pagination .total {
    font-size: 16px;
    display: flex;
    align-items: center;
}

.select-custom option:first-child {
    color: unset;
    font-style: normal;
}

.group-filter  {
    display: flex;
    align-items: center;
    justify-content: end;
}

.group-filter .wrap-month {
    display: flex;
    align-items: center;
    gap: 8px;
}

.group-filter .wrap-month .text {
    font-size: var(--fs-h-4);
    font-weight: 500;
}

.dropend .dropdown-toggle::after {
    display: none;
}

/**
* SCROLL TO TOP
*/

.scroll-to-top {
    display: none;
    position: fixed;
    bottom: 90px;
    right: 40px;
    background-color: rgba(189, 137, 134, 0.6);
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    z-index: 3;
    transition: all 0.3s linear;
}

.scroll-to-top:hover {
    background-color: var(--button-color);
}

@media screen and (max-width: 1200px) {
    :root {
        --fs-h-1: 36px;
        --lh-h-1: 46px;
        --fs-h-2: 32px;
        --lh-h-2: 40px;
        --fs-h-3: 24px;
        --lh-h-3: 30px;
        --fs-h-4: 18px;
        --lh-h-4: 20px;
        --fs-h-5: 16px;
        --lh-h-5: 20px;
    }

    /**
    * POPUP
    */

    .popup {
        max-width: 90%;
    }
}

@media screen and (max-width: 991px) {
    :root {
        --fs-h-1: 28px;
        --lh-h-1: 32px;
        --fs-h-2: 32px;
        --lh-h-2: 40px;
        --fs-h-3: 24px;
        --lh-h-3: 30px;
        --fs-h-4: 18px;
        --lh-h-4: 20px;
        --fs-h-5: 16px;
        --lh-h-5: 20px;
    }

    .search-group .form-search {
        width: 50vw;
    }

    .pagination {
        padding-top: 60px;
    }

    #imagePreviewContainer {
        max-height: 240px;
    }
}

@media screen and (max-width: 768px) {
    :root {
        --fs-h-1: 24px;
        --lh-h-1: 32px;
        --fs-h-2: 32px;
        --lh-h-2: 40px;
        --fs-h-3: 24px;
        --lh-h-3: 30px;
        --fs-h-4: 18px;
        --lh-h-4: 20px;
        --fs-h-5: 16px;
        --lh-h-5: 20px;
    }


    .search-group .form-search {
        width: 100vw;
    }
}

@media screen and (max-width: 576px) {
    :root {
        --fs-h-1: 14px;
        --lh-h-1: 20px;
        --fs-h-2: 32px;
        --lh-h-2: 40px;
        --fs-h-3: 24px;
        --lh-h-3: 30px;
        --fs-h-4: 18px;
        --lh-h-4: 20px;
        --fs-h-5: 16px;
        --lh-h-5: 20px;
    }

    section {
        padding: 60px 0;
    }

    .section-title {
        font-size: 24px;
    }

    .group-pagination {
        flex-direction: column;
        gap: 24px;
    }

    .button {
        padding: 0 12px;
        height: 36px;
    }

    .button .text {
        font-size: 14px;
    }

    .seemore-group {
        margin-top: 40px;
    }

    .pagination-container .pagi-btn, .pagination-container .pagi-page {
        width: 36px;
        height: 36px;
    }

    /**
    * POPUP
    */

    .popup .title {
        font-size: 24px;
    }
    
    .popup .popup-left {
        padding: 24px;
    }

    .popup .popup-left .button {
        width: 100%;
    }
    
    .form-control, select {
        height: 42px;
    }

    #imagePreviewContainer {
        max-height: 140px;
    }

    .image-preview, #addImageBtn {
        width: 100px;
        height: 100px;
    }

    .scroll-to-top {
        right: 12px;
    }

}

@media screen and (max-width: 375px) {
    
}